/* body {
  background: salmon;
} */

/* Facebook Colours */
#Facebook_circle {
  color:#F25268
}

#Facebook_heart {
  color:#FFFFFF
}

#Facebook_blue {
  color:#4267B2
}

#Facebook_blue_shade {
  color:#204288
}

#Facebook_icon {
  color:#FFFFFF
}
